/* center the main element */
main {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    /* center vertical all children */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background dark grey */
    background-color: #2d2d2d;
}

canvas {
    /* black background */
    background-color: #000;
}

#links {
    /* fixed to top left */
    position: fixed;
    top: 0;
    left: 0;
    /* white text */
    color: #fff;
}

/* a hover is hsl(198, 99, 58) */
a:hover {
    color: "orange";
    /* cursor pointer */
    cursor: pointer;
}

/* a visited */
a:visited {
    color: #0a0;
}
